#signupBody {
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
}

.body-bg {
    background-image: linear-gradient(315deg, rgb(43, 137, 226) 40%, rgb(153, 83, 174) 80%);
    background-repeat: no-repeat;
  }

#signup-card {
    margin-top: 50px;
}